@using Oficina.WebPages;
@{
    var veiculoAplicacao = new VeiculoAplicacao();

}

<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Veiculo </title>

    <style>
        body {
            font-size: 16px;
            font-family: 'Ubuntu', sans-serif;
        }

        label {
            min-width: 100px;
            display: inline-block;
        }

        input, select, button {
            min-width: 200px;
            min-height: 24px;
            margin-bottom: 5px;
        }

            input[type=submit] {
                width: 300px
             }

        #mensagemErro{
            height:40px;
            background-color: #dc3545;
            margin-bottom:10px;
            color:white;
            text-align:center;
            vertical-align:middle;
            line-height:40px;


        }



    </style>
</head>
<body>
    <!-- ctrl + KS -->
    <h1>Cadastro de Veiculo</h1>
    @if (IsPost)
    {
        try
        {
            veiculoAplicacao.Inserir();
            Response.Redirect("Veiculo");
        }
        catch
        {

            <div id="mensagemErro">@HttpContext.Current.Items["MensagemErro"]

            </div>
        }
    }

    <form action="" method="post">
        <!--GET // POST -->
        <label for="marca">Marca</label>
        <select name="marca" onchange="obterModelos(this.value)">
            <option value="">Selecione</option>
            @foreach (var item in veiculoAplicacao.Marcas)
            {
                @*<option value="@item.Id" selected="@Convert.ToBoolean(Convert.ToString(item.Id) == veiculoAplicacao.MarcaSelecionada)">@item.Nome</option>*@
                <option value="@item.Id" selected="@Convert.ToBoolean(item.Id.ToString() == veiculoAplicacao.MarcaSelecionada)">@item.Nome</option>
            }

        </select>
        <br />
        <label for="modelo">Modelos</label>
        <select name="modelo">
            <option value="">Selecione</option>
            @foreach (var item in veiculoAplicacao.Modelos)
            {
                <option value="@item.Id">@item.Nome</option>
            }
        </select>
        <br />




        <label for="placa">Placa</label>
        <input type="text" name="placa" value="@Request.Form["placa"]" />
        <br />

        <label for="ano">Ano</label>
        <input type="text" name="ano" value="@Request.Form["ano"]" />
        <br />

        <label for="cor">Cores</label>
        <select name="cor">
            <option value="">Selecione</option> <!--Recuperar dados para dropdown-->
            @foreach (var item in veiculoAplicacao.Cores)
            {
                <option value="@item.Id" selected="@Convert.ToBoolean(item.Id.ToString() == Request.Form["cor"])">@item.Nome</option>
            }

        </select>
        <br />

        <label for="combustivel">Combustível</label>
        <select name="combustivel">
            <option value="">Selecione</option>
            @foreach (var item in veiculoAplicacao.Combustiveis)
            {
                <!-- enumeradores é o proprio item-->
                <option value="@((int)item)">@item</option>
            }
        </select>
        <br />

        <label for="cambios">Câmbios</label>
        <select name="cambios">
            <option value="">Selecione</option>
            @foreach (var item in veiculoAplicacao.Cambios)
            {
                <!-- enumeradores é o proprio item-->
                <option value="@((int)item)">@item</option>
            }
        </select>
        <br />
        <label for="observacao">Observação</label>
        <br />
        <textarea name="observacao" rows="10" cols="40"></textarea>
        <br />
        <input type="submit" value="Gravar" />
    </form>
    <script type="text/javascript">
        function obterModelos(marcaId) {
            const nomePagina = document.location.pathname;

            document.location.href = nomePagina + "?marcaId=" + marcaId;

        }

    </script>
</body>
</html>
